@font-face {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/montserrat-v18-latin-regular.woff");
}
@font-face {
  font-family: 'Montserrat Medium';
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/montserrat-v18-latin-500.woff");
}
@font-face {
  font-family: 'STIX Two Text Regular';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/stix-two-text-v9-latin-regular.woff");
}
@font-face {
  font-family: 'STIX Two Text Medium';
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/stix-two-text-v9-latin-500.woff");
}
@font-face {
  font-family: 'Gilroy Extrabold';
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/gilroy-extrabold.woff");
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

li:last-child {
  margin: 0;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.title {
  font-family: "STIX Two Text Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 135%;
  color: #FFFFFF;
}

.text {
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}

.button {
  max-width: 135px;
  width: 100%;
  min-height: 41px;
  background-color: transparent;
  border: 2px solid #da4523;
  position: relative;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #da4523;
  border-radius: 50%;
}

.button::after {
  content: url(../../images/button-arrow.svg);
  position: absolute;
  top: 8px;
  right: -15px;
}

.btn-big {
  max-width: 299px;
  width: 100%;
  min-height: 91px;
  text-align: center;
  border-radius: 50%;
  padding-top: 24px;
  padding-bottom: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  position: relative;
  -webkit-transition: all ease-in-out 0.7s 0s;
  transition: all ease-in-out 0.7s 0s;
}

.btn-big:hover.btn-big::before {
  -webkit-transition: all ease 0.7s 0s;
  transition: all ease 0.7s 0s;
  content: url(../../images/btn-hover.svg);
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.container {
  max-width: 1216px;
  width: 100%;
  margin: 0 auto;
}

.head__container,
.head__contacts {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #1B1B1B;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.head__contacts {
  max-width: 395px;
  width: 100%;
}
.head__phone {
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.head__button {
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #da4523;
}
.head__nav {
  max-width: 207px;
  width: 100%;
}
.head__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.head__link-nav {
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}

.logo__link {
  display: inline-block;
}

.modal-button {
  display: none;
}

.error {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 108px 0 130px 0;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(27, 27, 27, 0.9)), to(rgba(27, 27, 27, 0.9))), url("../../images/black__bg.png");
  background-image: linear-gradient(to top, rgba(27, 27, 27, 0.9), rgba(27, 27, 27, 0.9)), url("../../images/black__bg.png");
  background-repeat: no-repeat;
  background-size: 1920px auto,1920px auto;
  background-position: 0 0, 0 0;
}

.error__container {
  max-width: 792px;
  width: 100%;
  margin: 0 auto;
}

.error__numbers {
  font-family: "Gilroy Extrabold", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 477px;
  line-height: 584px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  color: #da4523;
}

.error__numbers::before {
  content: url("../image/zero.png");
  position: absolute;
  top: 5%;
  left: 35%;
}

.error__title {
  max-width: 643px;
  width: 100%;
  margin: 0 auto 28px;
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 160%;
  color: #F9F9F9;
  text-align: center;
}

.error__button {
  display: block;
  margin: 0 auto;
  max-width: 155px;
}

.error__button::after {
  content: none;
}

.error__button::before {
  content: url(../../images/button-arrow.svg);
  position: absolute;
  top: 10px;
  left: -19px;
  transform: rotate(180deg);
}

.basement {
  max-width: 1920px;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(27, 27, 27, 0.9)), to(rgba(27, 27, 27, 0.9))), url("../../images/basement__bg.png");
  background-image: linear-gradient(to top, rgba(27, 27, 27, 0.9), rgba(27, 27, 27, 0.9)), url("../../images/basement__bg.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 1920px auto, 2050px auto;
}
.basement__wrapper-top {
  max-width: 1216px;
  width: 100%;
  margin: 0 auto 50px;
  padding-bottom: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid;
  border-image-source: linear-gradient(90deg, #5C5C5C 0%, rgba(92, 92, 92, 0.5) 55.16%, rgba(92, 92, 92, 0) 100.87%);
  border-image-slice: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.basement__inner {
  max-width: 743px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.basement__logo-link {
  display: inline-block;
}
.basement__description {
  max-width: 515px;
  width: 100%;
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 165%;
  color: #8A8A8A;
}
.basement__info {
  max-width: 289px;
  width: 100%;
}
.basement__address {
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 165%;
  color: #FFFFFF;
}
.basement__code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.basement__inn, .basement__kpp {
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 165%;
  color: #FFFFFF;
}
.basement__span {
  color: #8A8A8A;
}
.basement__wrapper-middle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1216px;
  width: 100%;
  margin: 0 auto 50px;
}
.basement__nav {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 11% 15% 11%;
  grid-template-rows: 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.basement__box-navigation {
  grid-column-start: 1;
  grid-column-end: 2;
}
.basement__box-contacts {
  grid-column-start: 3;
  grid-column-end: 4;
}
.basement__box-social {
  grid-column-start: 5;
  grid-column-end: 6;
}
.basement__box-route {
  grid-column-start: 7;
  grid-column-end: 8;
  justify-self: flex-end;
}
.basement__title {
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #5C5C5C;
  margin-bottom: 20px;
}
.basement__item {
  margin-bottom: 15px;
}
.basement__link {
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}
.basement__wrapper-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  max-width: 1216px;
  width: 100%;
  margin: 0 auto;
}
.basement__privacy {
  color: #8A8A8A;
}
.basement__public {
  color: #FFFFFF;
}
.basement__agreement {
  color: #FFFFFF;
}

.basement-icon-mobile {
  display: none;
}

.modal-application {
  display: none;
}
.modal-application__curtain {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-application__container {
  max-width: 510px;
  width: 100%;
  position: fixed;
  top: 12%;
  right: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 12;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #1B1B1B;
  border-radius: 10px;
  max-height: 730px;
}
.modal-application__wrapper {
  max-width: 470px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.modal-application__close {
  width: 21px;
  height: 21px;
  cursor: pointer;
  margin-left: auto;
}
.modal-application__title {
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  color: #FFFFFF;
  margin-bottom: 8px;
}
.modal-application__text {
  color: #8A8A8A;
  max-width: 380px;
  width: 100%;
  margin: 0 auto 28px;
}
.modal-application__inner {
  max-width: 380px;
  width: 100%;
  margin: 0 auto 15px;
  text-align: left;
  position: relative;
}
.modal-application__label {
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 165%;
  color: #8A8A8A;
}
.modal-application__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  background-color: rgba(138, 138, 138, 0.15);
  border-radius: 8px;
  max-width: 380px;
  width: 100%;
  border: none;
}
.modal-application__input::-webkit-input-placeholder {
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #8A8A8A;
}
.modal-application__input:-ms-input-placeholder {
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #8A8A8A;
}
.modal-application__input::-ms-input-placeholder {
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #8A8A8A;
}
.modal-application__input::placeholder {
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #8A8A8A;
}
.modal-application__input:invalid {
  border: 1px solid #da4523;
}
.modal-application__textarea {
  max-width: 380px;
  width: 100%;
  min-height: 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(138, 138, 138, 0.1);
  border-radius: 8px;
}
.modal-application__textarea {
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #8A8A8A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 15px;
}
.modal-application__checkbox {
  display: none;
}
.modal-application__checkbox:checked + .modal-application__label-agree::after {
  transform: scale(0);
}
.modal-application__checkbox:checked + .modal-application__label-agree::before {
  background-color: transparent;
}
.modal-application__label-agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 165%;
  color: #FFFFFF;
}
.modal-application__label-agree::before {
  -webkit-transition: -webkit-transform 0.5s ease-in-out 0s;
  transition: -webkit-transform 0.5s ease-in-out 0s;
  transition: transform 0.5s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 0s;
  content: "";
  max-width: 16px;
  width: 100%;
  min-height: 16px;
  background-color: #da4523;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  margin: 0 10px 0 0;
  align-self: flex-start;
}
.modal-application__label-agree::after {
  -webkit-transition: -webkit-transform 0.5s ease-in-out 0s;
  transition: -webkit-transform 0.5s ease-in-out 0s;
  transition: transform 0.5s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 0s;
  content: url("../../images/check.svg");
  position: absolute;
  left: 4px;
  top: 0;
  z-index: 3;
}

.modal {
  display: none;
}
.modal__curtain {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  cursor: pointer;
  background-color: rgba(27, 27, 27, 0.9);
}
.modal__container {
  padding-top: 12px;
  max-width: 837px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 16%;
  z-index: 12;
  background-image: url("../../images/modal__photo.png"), -webkit-gradient(linear, left bottom, left top, from(rgba(27, 27, 27, 0.9)), to(rgba(27, 27, 27, 0.9))), url("../../images/modal__bg.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 445px auto, 837px auto,837px auto;
  background-position: 290px 600px, 0 0, 0 0;
}
.modal__close {
  max-width: 46px;
  width: 100%;
  min-height: 46px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 12px;
  cursor: pointer;
}
.modal__wrapper {
  margin: 0 auto;
  max-width: 647px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.modal__nav {
  max-width: 122px;
  width: 100%;
}
.modal__item {
  margin-bottom: 20px;
}
.modal__link {
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 160%;
  color: #FFFFFF;
}
.modal__content {
  max-width: 355px;
  width: 100%;
}
.modal__box {
  margin-bottom: 50px;
}
.modal__box-route {
  margin-bottom: 20px;
}
.modal__box-info {
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 165%;
  color: #8A8A8A;
  max-width: 250px;
  width: 100%;
  margin-bottom: 0;
}
.modal__code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 250px;
  width: 100%;
}
.modal__active {
  display: block;
}

@media all and (max-width: 1000px) {
  .container {
    max-width: 958px;
  }

  .head__nav {
    display: none;
  }

  .modal-button {
    display: block;
  }

  .error {
    padding-top: 70px;
    padding-bottom: 52px;
  }

  .error__container {
    max-width: 662px;
  }

  .error__numbers {
    font-size: 398px;
    line-height: 488px;
  }

  .error__numbers::before {
    content: url(../image/zero__desktop.png);
    position: absolute;
    top: 5%;
    left: 35%;
  }

  .error__title {
    max-width: 567px;
  }

  .basement__inner {
    max-width: 600px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .basement__description {
    max-width: 328px;
  }

  .basement__wrapper-top {
    margin-bottom: 40px;
  }

  .basement__nav {
    grid-template-columns: 12% 14% 18% 14% 14% 14% 13%;
  }
}
@media all and (max-width: 768px) {
  .container {
    max-width: 728px;
  }

  .error__numbers {
    font-size: 285px;
    line-height: 350px;
    max-width: 474px;
    width: 100%;
    margin: 0 auto;
  }

  .error__numbers::before {
    content: url(../image/zero__tablet.png);
    position: absolute;
    top: 5%;
    left: 35%;
  }

  .error__title {
    font-size: 26px;
    margin-bottom: 23px;
    max-width: 492px;
  }

  .basement {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .basement__wrapper-top {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .basement__inner {
    max-width: 728px;
  }

  .basement__description {
    max-width: 460px;
  }

  .basement__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    max-width: 570px;
    width: 100%;
  }

  .basement__code {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .basement__address {
    max-width: 229px;
    width: 100%;
  }

  .basement__wrapper-middle {
    margin-bottom: 40px;
  }

  .basement__nav {
    grid-template-columns: 23% 7% 24% 7% 18%;
  }

  .basement__box-route {
    display: none;
  }

  .modal__container {
    max-width: 605px;
    left: 21%;
    background-image: url(../../images/modal__photo-tablet.png), -webkit-gradient(linear, left bottom, left top, from(rgba(27, 27, 27, 0.9)), to(rgba(27, 27, 27, 0.9))), url(../../images/modal__bg.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 270px auto, 837px auto,837px auto;
    background-position: 220px 580px, 0 0, 0 0;
  }

  .modal__wrapper {
    max-width: 492px;
  }

  .modal__content {
    max-width: 250px;
  }
}
@media all and (max-width: 480px) {
  .container {
    max-width: 440px;
  }

  .head {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .head__contacts {
    display: none;
  }

  .error__container {
    max-width: 416px;
  }

  .error__numbers {
    font-size: 204px;
    line-height: 251px;
    max-width: 340px;
  }

  .error__numbers::before {
    content: url(../image/zero__semimobile.png);
    position: absolute;
    top: 5%;
    left: 35%;
  }

  .error__title {
    font-size: 22px;
  }

  .basement {
    padding-bottom: 30px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(27, 27, 27, 0.9)), to(rgba(27, 27, 27, 0.9))), url(../../images/basement__bg-semimobile.png);
    background-image: linear-gradient(to top, rgba(27, 27, 27, 0.9), rgba(27, 27, 27, 0.9)), url(../../images/basement__bg-semimobile.png);
    background-size: 1920px auto, 480px auto;
  }

  .basement__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 22px;
  }

  .basement__logo-link {
    margin-bottom: 15px;
  }

  .basement__nav {
    grid-template-columns: 46% 4% 50%;
    grid-template-rows: 59% 29%;
    grid-row-gap: 30px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .basement__box-navigation {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .basement__box-contacts {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .basement__box-social {
    grid-column-start: -4;
    grid-column-end: -3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .basement__list-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .basement__item-facebook {
    margin-bottom: 0;
    margin-right: 40px;
  }

  .basement__info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .basement__wrapper-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-height: 90px;
  }

  .modal-application__wrapper {
    max-width: 440px;
  }

  .modal__container {
    max-width: 372px;
    left: 21%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(27, 27, 27, 0.9)), to(rgba(27, 27, 27, 0.9))), url(../../images/modal__bg-semimobile.png);
    background-image: linear-gradient(to top, rgba(27, 27, 27, 0.9), rgba(27, 27, 27, 0.9)), url(../../images/modal__bg-semimobile.png);
    background-size: 837px auto,372px auto;
    background-position: 0 0, 0 0;
  }

  .modal__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 270px;
  }

  .modal__close {
    margin-bottom: 0;
  }

  .modal__list {
    margin-bottom: 54px;
  }

  .modal__box {
    margin-bottom: 40px;
  }

  .modal__box-route {
    margin-bottom: 15px;
  }
}
@media all and (max-width: 360px) {
  .container {
    max-width: 320px;
  }

  .error {
    padding: 162px 0 86px 0;
  }

  .error__numbers {
    max-width: 278px;
    font-size: 167px;
    line-height: 205px;
  }

  .error__numbers::before {
    content: url(../image/zero__mobile.png);
    position: absolute;
  }

  .error__title {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .error__button {
    max-width: 143px;
  }

  .basement {
    padding-top: 40px;
    padding-bottom: 25px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(27, 27, 27, 0.9)), to(rgba(27, 27, 27, 0.9))), url(../../images/basement__bg-mobile.png);
    background-image: linear-gradient(to top, rgba(27, 27, 27, 0.9), rgba(27, 27, 27, 0.9)), url(../../images/basement__bg-mobile.png);
    background-size: 1920px auto, 360px auto;
  }

  .basement__wrapper-top {
    padding-bottom: 35px;
    margin-bottom: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .basement__inner {
    margin-bottom: 15px;
  }

  .basement-icon {
    display: none;
  }

  .basement-icon-mobile {
    display: inline;
  }

  .basement__description {
    max-width: 290px;
  }

  .basement__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .basement__address {
    margin-bottom: 5px;
  }

  .basement__wrapper-middle {
    margin-bottom: 25px;
  }

  .basement__nav {
    grid-template-columns: 35% 16% 48%;
    grid-template-rows: 59% 29%;
    grid-row-gap: 30px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .basement__span {
    display: none;
  }

  .basement__title {
    font-size: 16px;
  }

  .basement__link {
    font-size: 14px;
  }

  .basement__item-facebook {
    margin-right: 62px;
  }

  .modal-application__container {
    max-height: 710px;
  }

  .modal-application__wrapper {
    max-width: 320px;
  }

  .modal__container {
    max-width: 322px;
    left: 11%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(27, 27, 27, 0.9)), to(rgba(27, 27, 27, 0.9))), url(../../images/modal__bg-mobile.png);
    background-image: linear-gradient(to top, rgba(27, 27, 27, 0.9), rgba(27, 27, 27, 0.9)), url(../../images/modal__bg-mobile.png);
    background-size: 837px auto,345px auto;
    background-position: 0 0, 0 0;
  }

  .modal__list {
    margin-bottom: 32px;
  }

  .modal__link {
    font-size: 22px;
  }

  .modal__box {
    margin-bottom: 30px;
  }

  .modal__list-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 206px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .modal__item-facebook {
    margin: 0;
  }

  .modal__box-route {
    display: none;
  }

  .modal__box-info {
    margin: 0;
  }
}

/*# sourceMappingURL=styles.css.map */