@font-face {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/montserrat-v18-latin-regular.woff");
}
@font-face {
  font-family: 'Montserrat Medium';
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/montserrat-v18-latin-500.woff");
}
@font-face {
  font-family: 'STIX Two Text Regular';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/stix-two-text-v9-latin-regular.woff");
}
@font-face {
  font-family: 'STIX Two Text Medium';
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/stix-two-text-v9-latin-500.woff");
}
@font-face {
  font-family: 'Gilroy Extrabold';
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/gilroy-extrabold.woff");
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

li:last-child {
  margin: 0;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.title {
  font-family: "STIX Two Text Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 135%;
  color: #FFFFFF;
}

.text {
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}

.button {
  max-width: 135px;
  width: 100%;
  min-height: 41px;
  background-color: transparent;
  border: 2px solid #da4523;
  position: relative;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #da4523;
  border-radius: 50%;
}

.button::after {
  content: url(../../images/button-arrow.svg);
  position: absolute;
  top: 8px;
  right: -15px;
}

.btn-big {
  max-width: 299px;
  width: 100%;
  min-height: 91px;
  text-align: center;
  border-radius: 50%;
  padding-top: 24px;
  padding-bottom: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  position: relative;
  -webkit-transition: all ease-in-out 0.7s 0s;
  transition: all ease-in-out 0.7s 0s;
}

.btn-big:hover.btn-big::before {
  content: url(../../images/btn-hover.svg);
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.container {
  max-width: 1216px;
  width: 100%;
  margin: 0 auto;
}

.container__specific {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.head__container,
.head__contacts {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #1B1B1B;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.head__contacts {
  max-width: 395px;
  width: 100%;
}
.head__phone {
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.head__button {
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #da4523;
}
.head__nav {
  max-width: 207px;
  width: 100%;
}
.head__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.head__link-nav {
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}

.logo__link {
  display: inline-block;
}

.modal-button {
  display: none;
}

.top-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 180px;
  padding-bottom: 160px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(27, 27, 27, 0.9)), to(rgba(27, 27, 27, 0.9))), url("../../images/black__bg.png");
  background-image: linear-gradient(to top, rgba(27, 27, 27, 0.9), rgba(27, 27, 27, 0.9)), url("../../images/black__bg.png");
  background-repeat: no-repeat;
  background-size: 1920px auto;
  background-position: 0 0;
}

.register {
  max-width: 1920px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 215px;
}
.register__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.register__content {
  max-width: 701px;
  width: 100%;
}
.register__partner {
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #8A8A8A;
  margin-bottom: 10px;
}
.register__title {
  font-family: "STIX Two Text Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 135%;
  color: #FFFFFF;
  margin: 0 0 15px;
  position: relative;
}
.register__text {
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #8A8A8A;
  margin-bottom: 50px;
}
.register__content-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.register__button {
  background-color: #da4523;
  color: #FFFFFF;
  margin-right: 42px;
}
.register__button-services-semimobile {
  display: none;
}
.register__box {
  max-width: 544px;
  width: 100%;
  min-height: 513px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.register__photo {
  max-width: 100%;
  min-height: auto;
}
.register__photo-desktop, .register__photo-tablet {
  display: none;
}

.company {
  margin-bottom: 160px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.company__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 392px;
  width: 100%;
  min-height: 119px;
  margin-right: 20px;
  background-color: #363636;
  border-radius: 8px;
  -webkit-transition: all  0.6s ease-in-out 0s;
  transition: all  0.6s ease-in-out 0s;
}
.company__block:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.company__block:hover .company__path {
  -webkit-transition: all  0.6s ease-in-out 0s;
  transition: all  0.6s ease-in-out 0s;
  fill: #FFFFFF;
}
.company__svg {
  max-width: 270px;
  width: 100%;
  min-height: 99px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.company__container .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.company .slick-list {
  margin-right: -20px;
}

.patent {
  margin-bottom: 160px;
}
.patent__inner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(392px, 1fr));
  -webkit-column-gap: 20px;
          column-gap: 20px;
  background: transparent;
}
.patent__title {
  margin-bottom: 50px;
}
.patent__block {
  background: transparent;
  border-radius: 8px;
}
.patent__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.patent__number {
  font-family: "Gilroy Extrabold", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 65px;
  line-height: 80px;
  margin-right: 15px;
  color: #363636;
  text-shadow: #da4523 1px 0, #da4523 1px 1px, #da4523 0 1px, #da4523 -1px 1px, #da4523 -1px 0, #da4523 -1px -1px, #da4523 0 -1px, #da4523 1px -1px;
}
.patent__subtitle {
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
}
.patent__text {
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #8A8A8A;
}

.license__title {
  margin-bottom: 50px;
}
.license__inner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(392px, 1fr));
  -webkit-column-gap: 20px;
          column-gap: 20px;
  position: -webkit-sticky;
  position: sticky;
}
.license__block {
  position: relative;
  padding: 20px 0 49px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #363636FF;
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 8px;
  -webkit-transition: all ease-in-out 0.7s 0s;
  transition: all ease-in-out 0.7s 0s;
}
.license__block:hover {
  background: rgba(255, 255, 255, 0.1);
}
.license__block:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -3px;
  border-radius: inherit;
  background: linear-gradient(118.25deg, #DA4533 0%, rgba(218, 69, 51, 0) 33.76%);
}
.license__subtitle {
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
  margin-bottom: 5px;
}
.license__text {
  max-width: 352px;
  width: 100%;
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #8A8A8A;
}

.test {
  padding-top: 132px;
  padding-bottom: 132px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../image/test__bg.png");
  background-repeat: no-repeat;
  background-size: 1920px auto;
}
.test__block {
  background-color: #1B1B1B;
  border-radius: 10px;
  max-width: 1041px;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 112px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 50px;
  overflow: hidden;
  position: relative;
}
.test__subtitle {
  font-family: 'Montserrat',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 30px;
  color: #FFFFFF;
}
.test__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 961px;
  width: 100%;
  margin: 0 auto;
  min-width: 0;
}
.test__form {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 23% 23% 6% 12% 6%;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  margin-bottom: 40px;
}
.test__box {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}
.test__box_active {
  background-color: #da4523;
}
.test__box-model {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.test__box-sample {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.test__box-rules {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}
.test__box-patent {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.test__box-img {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 6;
}
.test__box-application {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}
.test__span {
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}

.text__title {
  color: #FFFFFF;
  margin-bottom: 16px;
}

.text__description {
  color: #FFFFFF;
  opacity: 0.75;
  margin-bottom: 50px;
}

.test-bonus__title {
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.test-bonus__container {
  max-width: 804px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.test-bonus__box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #1B1B1B;
  max-width: 392px;
  width: 100%;
  padding-top: 34px;
  padding-left: 131px;
  padding-bottom: 39px;
  position: relative;
  border-radius: 8px;
}
.test-bonus__text {
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
  max-width: 246px;
  width: 100%;
}
.test-bonus__box-rhombus::before {
  content: url("../../home/image/test-bonus__rhombus.svg");
  position: absolute;
  top: 15px;
  left: 0;
}
.test-bonus__box-triangle:before {
  content: url("../../home/image/test-bonus__triangle.svg");
  position: absolute;
  top: 15px;
  left: 10px;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: auto;
  bottom: 15%;
}

.swiper-button-prev {
  left: 6%;
}

.swiper-button-next {
  right: 6%;
}

.swiper-button-prev::after {
  content: url(../../images/button-arrow.svg);
  position: absolute;
  top: auto;
  bottom: -35%;
  left: -118%;
  transform: rotate(180deg);
}

.swiper-button-next::after {
  content: url(../../images/button-arrow.svg);
  position: absolute;
  top: auto;
  bottom: 27%;
  right: -13%;
}

.swiper-pagination {
  font-family: "STIX Two Text Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: #FFFFFF;
  position: absolute;
  top: 7%;
  right: 10%;
  max-width: 50px;
  width: 100%;
  max-height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  left: auto;
}

.swiper-pagination-current {
  color: #da4523;
}

.under-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 160px;
  padding-bottom: 160px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(27, 27, 27, 0.9)), to(rgba(27, 27, 27, 0.9))), url("../../images/black__bg.png");
  background-image: linear-gradient(to top, rgba(27, 27, 27, 0.9), rgba(27, 27, 27, 0.9)), url("../../images/black__bg.png");
  background-repeat: no-repeat;
  background-size: 120% auto;
  background-position: 0 0;
}

.work {
  margin-bottom: 160px;
}

.work__wrapper-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 40px;
}

.work__inner-info {
  max-width: 701px;
  width: 100%;
}

.work__inner-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 134px;
  width: 100%;
}

.work__text {
  color: #8A8A8A;
  opacity: 0.75;
}

.work__wrapper-ladder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 56px;
}

.work__block {
  max-width: 216px;
  width: 100%;
  position: relative;
}

.work__block::after {
  content: url("../image/work__arrow.svg");
  position: absolute;
  top: 30px;
  right: 0;
}

.work__number {
  font-family: "Gilroy Extrabold", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 65px;
  line-height: 80px;
  color: #363636;
  text-shadow: #8A8A8A 1px 0, #8A8A8A 1px 1px, #8A8A8A 0 1px, #8A8A8A -1px 1px, #8A8A8A -1px 0, #8A8A8A -1px -1px, #8A8A8A 0 -1px, #8A8A8A 1px -1px;
}

.work__description {
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.8);
}

.work__block_active .work__number {
  color: #da4523;
  text-shadow: #da4523 1px 0, #da4523 1px 1px, #da4523 0 1px, #da4523 -1px 1px, #da4523 -1px 0, #da4523 -1px -1px, #da4523 0 -1px, #da4523 1px -1px;
}

.work__block_active .work__description {
  color: #da4523;
}

.work__wrapper-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.work__container {
  max-width: 701px;
  width: 100%;
}

.work__discuss {
  margin-bottom: 16px;
}

.work__subtitle {
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.work__list {
  list-style-type: circle;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.work__item,
.subtext {
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #8A8A8A;
}

.work__photo {
  max-width: 100%;
  min-height: auto;
}

.work__photo-desktop,
.work__photo-tablet {
  display: none;
}

.question__title {
  margin-bottom: 50px;
}

.accordion__wrapper {
  margin-bottom: 20px;
}

.accordion__wrapper_last {
  margin: 0;
}

.accordion__button {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0 20px 20px;
  background: #363636;
  border-radius: 8px;
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #F9F9F9;
  -webkit-transition: max-height 1.4s ease;
  transition: max-height 1.4s ease;
}

.accordion__button::after {
  content: url("../image/accordion__arrow.svg");
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

.accordion__wrapper.active .accordion__answer {
  max-height: 1000px;
  transform: translateY(10px);
}

.accordion__wrapper.active .accordion__button::after {
  transform: translateY(-50%) rotate(180deg);
}

.accordion__answer {
  -webkit-transition: all 1.4s ease;
  transition: all 1.4s ease;
  max-height: 0;
  overflow: hidden;
  transform: translateY(0);
}

.accordion__list,
.accordion__text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #8A8A8A;
}

.accordion__list {
  padding-left: 20px;
  list-style-type: circle;
  margin-bottom: 20px;
}

.request {
  max-width: 1920px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 100px;
  padding-bottom: 70px;
  background-image: url("../image/request__image.png"), url("../../images/orange__bg.png");
  background-repeat: no-repeat;
  background-size: 401px auto,1920px auto;
  background-position: 78% 49%,0 0;
}
.request__info {
  max-width: 706px;
  width: 100%;
}
.request__title {
  font-family: "STIX Two Text Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 135%;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.request__text {
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 44px;
  max-width: 598px;
  width: 100%;
}
.request__button {
  background: #1B1B1B;
  color: #FFFFFF;
}
.request__span {
  max-width: 249px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.basement {
  max-width: 1920px;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(27, 27, 27, 0.9)), to(rgba(27, 27, 27, 0.9))), url("../../images/basement__bg.png");
  background-image: linear-gradient(to top, rgba(27, 27, 27, 0.9), rgba(27, 27, 27, 0.9)), url("../../images/basement__bg.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 1920px auto, 1920px auto;
}
.basement__wrapper-top {
  max-width: 1216px;
  width: 100%;
  margin: 0 auto 50px;
  padding-bottom: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid;
  border-image-source: linear-gradient(90deg, #5C5C5C 0%, rgba(92, 92, 92, 0.5) 55.16%, rgba(92, 92, 92, 0) 100.87%);
  border-image-slice: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.basement__inner {
  max-width: 743px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.basement__logo-link {
  display: inline-block;
}
.basement__description {
  max-width: 515px;
  width: 100%;
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 165%;
  color: #8A8A8A;
}
.basement__info {
  max-width: 289px;
  width: 100%;
}
.basement__address {
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 165%;
  color: #FFFFFF;
}
.basement__code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.basement__inn, .basement__kpp {
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 165%;
  color: #FFFFFF;
}
.basement__span {
  color: #8A8A8A;
}
.basement__wrapper-middle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1216px;
  width: 100%;
  margin: 0 auto 50px;
}
.basement__nav {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 11% 15% 11%;
  grid-template-rows: 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.basement__box-navigation {
  grid-column-start: 1;
  grid-column-end: 2;
}
.basement__box-contacts {
  grid-column-start: 3;
  grid-column-end: 4;
}
.basement__box-social {
  grid-column-start: 5;
  grid-column-end: 6;
}
.basement__box-route {
  grid-column-start: 7;
  grid-column-end: 8;
  justify-self: flex-end;
}
.basement__title {
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #5C5C5C;
  margin-bottom: 20px;
}
.basement__item {
  margin-bottom: 15px;
}
.basement__link {
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}
.basement__wrapper-bottom {
  max-width: 1216px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 165%;
}
.basement__privacy {
  color: #8A8A8A;
}
.basement__public {
  color: #FFFFFF;
}
.basement__agreement {
  color: #FFFFFF;
}

.basement-icon-mobile {
  display: none;
}

.modal-application {
  display: none;
}
.modal-application__curtain {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-application__container {
  max-width: 510px;
  width: 100%;
  position: fixed;
  top: 12%;
  right: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 12;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #1B1B1B;
  border-radius: 10px;
  max-height: 730px;
}
.modal-application__wrapper {
  max-width: 470px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.modal-application__close {
  width: 21px;
  height: 21px;
  cursor: pointer;
  margin-left: auto;
}
.modal-application__title {
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  color: #FFFFFF;
  margin-bottom: 8px;
}
.modal-application__text {
  color: #8A8A8A;
  max-width: 380px;
  width: 100%;
  margin: 0 auto 28px;
}
.modal-application__inner {
  max-width: 380px;
  width: 100%;
  margin: 0 auto 15px;
  text-align: left;
  position: relative;
}
.modal-application__label {
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 165%;
  color: #8A8A8A;
}
.modal-application__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  background-color: rgba(138, 138, 138, 0.15);
  border-radius: 8px;
  max-width: 380px;
  width: 100%;
  border: none;
}
.modal-application__input::-webkit-input-placeholder {
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #8A8A8A;
}
.modal-application__input:-ms-input-placeholder {
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #8A8A8A;
}
.modal-application__input::-ms-input-placeholder {
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #8A8A8A;
}
.modal-application__input::placeholder {
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #8A8A8A;
}
.modal-application__input:invalid {
  border: 1px solid #da4523;
}
.modal-application__textarea {
  max-width: 380px;
  width: 100%;
  min-height: 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(138, 138, 138, 0.1);
  border-radius: 8px;
}
.modal-application__textarea {
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #8A8A8A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 15px;
}
.modal-application__checkbox {
  display: none;
}
.modal-application__checkbox:checked + .modal-application__label-agree::after {
  transform: scale(0);
}
.modal-application__checkbox:checked + .modal-application__label-agree::before {
  background-color: transparent;
}
.modal-application__label-agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 165%;
  color: #FFFFFF;
}
.modal-application__label-agree::before {
  -webkit-transition: -webkit-transform 0.5s ease-in-out 0s;
  transition: -webkit-transform 0.5s ease-in-out 0s;
  transition: transform 0.5s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 0s;
  content: "";
  max-width: 16px;
  width: 100%;
  min-height: 16px;
  background-color: #da4523;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  margin: 0 10px 0 0;
  align-self: flex-start;
}
.modal-application__label-agree::after {
  -webkit-transition: -webkit-transform 0.5s ease-in-out 0s;
  transition: -webkit-transform 0.5s ease-in-out 0s;
  transition: transform 0.5s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 0s;
  content: url("../../images/check.svg");
  position: absolute;
  left: 4px;
  top: 0;
  z-index: 3;
}

.modal {
  display: none;
}
.modal__curtain {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  cursor: pointer;
  background-color: rgba(27, 27, 27, 0.9);
}
.modal__container {
  padding-top: 12px;
  max-width: 837px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 16%;
  z-index: 12;
  background-image: url("../../images/modal__photo.png"), -webkit-gradient(linear, left bottom, left top, from(rgba(27, 27, 27, 0.9)), to(rgba(27, 27, 27, 0.9))), url("../../images/modal__bg.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 445px auto, 837px auto,837px auto;
  background-position: 290px 600px, 0 0, 0 0;
}
.modal__close {
  max-width: 46px;
  width: 100%;
  min-height: 46px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 12px;
  cursor: pointer;
}
.modal__wrapper {
  margin: 0 auto;
  max-width: 647px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.modal__nav {
  max-width: 122px;
  width: 100%;
}
.modal__item {
  margin-bottom: 20px;
}
.modal__link {
  font-family: "Montserrat Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 160%;
  color: #FFFFFF;
}
.modal__content {
  max-width: 355px;
  width: 100%;
}
.modal__box {
  margin-bottom: 50px;
}
.modal__box-route {
  margin-bottom: 20px;
}
.modal__box-info {
  font-family: "Montserrat Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 165%;
  color: #8A8A8A;
  max-width: 250px;
  width: 100%;
  margin-bottom: 0;
}
.modal__code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 250px;
  width: 100%;
}
.modal__active {
  display: block;
}

@media all and (max-width: 1000px) {
  .container {
    max-width: 958px;
  }

  .head__nav {
    display: none;
  }

  .modal-button {
    display: block;
  }

  .top-block {
    padding-top: 178px;
    padding-bottom: 120px;
  }

  .register {
    margin-bottom: 145px;
  }

  .register__content {
    max-width: 476px;
  }

  .register__title {
    font-size: 48px;
    max-width: 456px;
    width: 100%;
  }

  .register__text {
    font-size: 16px;
    max-width: 456px;
    width: 100%;
  }

  .register__content-bottom {
    max-width: 476px;
    width: 100%;
  }

  .register__title::after {
    right: 110px;
  }

  .register__photo {
    display: none;
  }

  .register__photo-desktop {
    display: inline-block;
  }

  .register__box {
    max-width: 463px;
    min-height: 463px;
  }

  .company {
    margin-bottom: 120px;
  }

  .company__block {
    max-width: 306px;
  }

  .company__svg {
    max-width: 210px;
    width: 100%;
    min-height: 77px;
  }

  .patent {
    margin-bottom: 120px;
  }

  .patent__title {
    margin-bottom: 40px;
  }

  .patent__inner {
    grid-template-columns: repeat(auto-fill, minmax(306px, 1fr));
  }

  .license__title {
    margin-bottom: 40px;
  }

  .license__inner {
    grid-template-columns: repeat(auto-fill, minmax(306px, 1fr));
  }

  .license__block {
    padding: 20px 0 20px 20px;
    min-height: 204px;
  }

  .test {
    padding-top: 120px;
    padding-bottom: 120px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-image: url("../image/test__photo.png"), url(../image/test__bg.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 306px auto, 1920px auto;
    background-position: 690px -24px, 0 0;
  }

  .test__block {
    max-width: 633px;
    padding-bottom: 80px;
  }

  .test__wrapper {
    max-width: 626px;
  }

  .test__form {
    grid-template-rows: 28% 23% 8% 15% 1%;
    grid-template-columns: 48% 48%;
  }

  .swiper-button-prev,
  .swiper-button-next {
    bottom: 10%;
  }

  .under-block {
    padding-top: 120px;
    padding-bottom: 120px;
    background-size: 2250px auto;
  }

  .work {
    margin-bottom: 120px;
  }

  .work__wrapper-info {
    margin-bottom: 30px;
  }

  .work__block_last {
    display: none;
  }

  .work__wrapper-ladder {
    margin-bottom: 50px;
  }

  .work__container {
    max-width: 633px;
  }

  .work__photo {
    display: none;
  }

  .work__photo-desktop {
    display: inline;
  }

  .question__title {
    margin-bottom: 40px;
  }

  .request {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url("../image/request__image-desktop.png"), url("../../images/orange__bg.png");
    background-repeat: no-repeat;
    background-size: 318px auto,1920px auto;
    background-position: 99% 42%, 0 0;
  }

  .request__info {
    max-width: 617px;
  }

  .basement__inner {
    max-width: 600px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .basement__description {
    max-width: 328px;
  }

  .basement__wrapper-top {
    margin-bottom: 40px;
  }

  .basement__nav {
    grid-template-columns: 12% 14% 18% 14% 14% 14% 13%;
  }
}
@media all and (max-width: 768px) {
  .container {
    max-width: 728px;
  }

  .title {
    font-size: 32px;
  }

  .top-block {
    padding-top: 134px;
    padding-bottom: 80px;
  }

  .register {
    margin-bottom: 95px;
  }

  .register__title {
    font-size: 44px;
  }

  .register__title::after {
    top: 47px;
    right: 127px;
  }

  .register__text {
    max-width: 394px;
    margin-bottom: 40px;
  }

  .register__box {
    min-height: 1px;
    max-width: 280px;
  }

  .register__photo-desktop {
    display: none;
  }

  .register__photo-tablet {
    display: inline;
  }

  .company {
    margin-bottom: 80px;
  }

  .company__block {
    max-width: 302px;
  }

  .company__svg {
    max-width: 208px;
    min-height: 76px;
  }

  .patent {
    margin-bottom: 80px;
  }

  .patent__inner {
    grid-template-columns: repeat(auto-fill, minmax(229px, 1fr));
  }

  .patent__number {
    font-size: 55px;
    line-height: 67px;
  }

  .patent__subtitle {
    font-size: 16px;
  }

  .license__inner {
    grid-template-columns: repeat(auto-fill, minmax(229px, 1fr));
  }

  .license__block {
    padding: 15px 0 15px 20px;
    min-height: 230px;
  }

  .license__subtitle {
    font-size: 16px;
  }

  .license__text {
    font-size: 14px;
    max-width: 199px;
    width: 100%;
  }

  .test {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../image/test__photo-tablet.png), url(../image/test__bg.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 208px auto, 1920px auto;
    background-position: 558px -11px, 0 0;
  }

  .text__description {
    margin-bottom: 40px;
  }

  .test__block {
    margin-bottom: 40px;
  }

  .test-bonus__box {
    max-width: 350px;
  }

  .test-bonus__box-triangle:before {
    left: 0;
  }

  .under-block {
    padding-top: 80px;
    padding-bottom: 80px;
    background-size: 2250px auto;
  }

  .work {
    margin-bottom: 80px;
  }

  .work__title {
    margin-bottom: 14px;
  }

  .work__inner-info {
    max-width: 479px;
  }

  .work__number_fourth {
    display: none;
  }

  .work__subtitle {
    font-size: 16px;
  }

  .work__photo-desktop {
    display: none;
  }

  .work__photo-tablet {
    display: inline;
  }

  .accordion__button {
    font-size: 16px;
  }

  .request {
    background-image: url("../image/request__image-tablet.png"), url("../../images/orange__bg.png");
    background-repeat: no-repeat;
    background-size: 254px auto,1920px auto;
    background-position: 99% 83%, 0 0;
  }

  .request__info {
    max-width: 525px;
  }

  .request__title {
    margin-bottom: 14px;
  }

  .request__text {
    max-width: 478px;
  }

  .basement {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .basement__wrapper-top {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .basement__inner {
    max-width: 728px;
  }

  .basement__description {
    max-width: 460px;
  }

  .basement__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    max-width: 570px;
    width: 100%;
  }

  .basement__code {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .basement__address {
    max-width: 229px;
    width: 100%;
  }

  .basement__wrapper-middle {
    margin-bottom: 40px;
  }

  .basement__nav {
    grid-template-columns: 23% 7% 24% 7% 18%;
  }

  .basement__box-route {
    display: none;
  }

  .modal__container {
    max-width: 605px;
    left: 21%;
    background-image: url(../../images/modal__photo-tablet.png), -webkit-gradient(linear, left bottom, left top, from(rgba(27, 27, 27, 0.9)), to(rgba(27, 27, 27, 0.9))), url(../../images/modal__bg.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 270px auto, 837px auto,837px auto;
    background-position: 220px 580px, 0 0, 0 0;
  }

  .modal__wrapper {
    max-width: 492px;
  }

  .modal__content {
    max-width: 250px;
  }
}
@media all and (max-width: 480px) {
  .container {
    max-width: 440px;
  }

  .title {
    font-size: 28px;
  }

  .head {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .head__contacts {
    display: none;
  }

  .top-block {
    padding-top: 137px;
    padding-bottom: 81px;
  }

  .register {
    margin-bottom: 75px;
  }

  .register__box {
    display: none;
  }

  .register__content {
    text-align: center;
  }

  .register__title::before {
    top: -20px;
    left: 10px;
  }

  .register__title::after {
    top: 47px;
    right: 50px;
  }

  .register__text {
    margin: 0 auto 36px;
  }

  .register__content-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .register__button {
    margin-right: 0;
    margin-bottom: 31px;
  }

  .btn-big::before {
    content: url(../../images/btn-hover.svg);
    position: absolute;
    top: 0;
    left: 0;
  }

  .company__block {
    max-width: 254px;
    min-height: 80px;
  }

  .company__svg {
    max-width: 140px;
    min-height: 59px;
  }

  .patent__inner {
    row-gap: 20px;
  }

  .patent__text {
    font-size: 14px;
  }

  .license__inner {
    row-gap: 20px;
  }

  .license__block {
    min-height: 107px;
  }

  .license__text {
    max-width: 406px;
  }

  .test {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url(../image/test__photo-tablet.png), url(../image/test__bg.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 137px auto, 2220px auto;
    background-position: 97% -1%, 0 0;
  }

  .test__block {
    margin-bottom: 30px;
  }

  .test__wrapper {
    min-height: 550px;
  }

  .test__subtitle {
    font-size: 21px;
    line-height: 24px;
    margin: 0 auto 24px;
    max-width: 396px;
    width: 100%;
  }

  .test__form {
    grid-template-rows: 16% 16% 16% 16% 16% 16%;
    grid-template-columns: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .test__box {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
  }

  .test__box-model {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .test__box-sample {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .test__box-rules {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .test__box-patent {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .test__box-img {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .test__box-application {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
  }

  .swiper-button-prev,
  .swiper-button-next {
    bottom: 3%;
  }

  .swiper-button-next {
    right: 9%;
  }

  .swiper-button-prev {
    left: 10%;
  }

  .swiper-pagination {
    font-size: 33px;
    line-height: 40px;
    top: 5%;
    right: 6%;
  }

  .test-bonus__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .test-bonus__box-rhombus {
    margin-bottom: 20px;
  }

  .test-bonus__box-triangle:before {
    left: 3%;
  }

  .under-block {
    background-size: 2575px auto;
  }

  .work {
    margin-bottom: 84px;
  }

  .work__wrapper-ladder {
    margin-bottom: 5px;
  }

  .work__inner-buttons {
    display: none;
  }

  .work__block_third {
    display: none;
  }

  .work__block {
    max-width: 210px;
  }

  .work__block::after {
    top: 20px;
  }

  .work__number {
    font-size: 45px;
    line-height: 55px;
  }

  .work__block_active .work__description {
    font-size: 14px;
  }

  .work__container {
    margin-bottom: 84px;
  }

  .work__box {
    display: none;
  }

  .work__inner-buttons-semimobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto 84px;
  }

  .accordion__button {
    padding: 20px 32px 20px 20px;
  }

  .request {
    padding-bottom: 45px;
    background-image: url(../../images/orange__bg.png);
    background-repeat: no-repeat;
    background-size: 1920px auto;
    background-position: 0 0;
    text-align: center;
  }

  .request__title {
    font-size: 28px;
  }

  .request__text {
    margin-bottom: 25px;
  }

  .request__button {
    margin: 0 auto;
  }

  .btn-big::before {
    content: url(../../images/btn-hover.svg);
    position: absolute;
    top: 0;
    left: 0;
  }

  .basement {
    padding-bottom: 30px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(27, 27, 27, 0.9)), to(rgba(27, 27, 27, 0.9))), url(../../images/basement__bg-semimobile.png);
    background-image: linear-gradient(to top, rgba(27, 27, 27, 0.9), rgba(27, 27, 27, 0.9)), url(../../images/basement__bg-semimobile.png);
    background-size: 1920px auto, 480px auto;
  }

  .basement__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 22px;
  }

  .basement__logo-link {
    margin-bottom: 15px;
  }

  .basement__nav {
    grid-template-columns: 46% 4% 50%;
    grid-template-rows: 59% 29%;
    grid-row-gap: 30px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .basement__box-navigation {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .basement__box-contacts {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .basement__box-social {
    grid-column-start: -4;
    grid-column-end: -3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .basement__list-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .basement__item-facebook {
    margin-bottom: 0;
    margin-right: 40px;
  }

  .basement__info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .basement__wrapper-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-height: 90px;
  }

  .modal-application__wrapper {
    max-width: 440px;
  }

  .modal__container {
    max-width: 372px;
    left: 21%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(27, 27, 27, 0.9)), to(rgba(27, 27, 27, 0.9))), url(../../images/modal__bg-semimobile.png);
    background-image: linear-gradient(to top, rgba(27, 27, 27, 0.9), rgba(27, 27, 27, 0.9)), url(../../images/modal__bg-semimobile.png);
    background-size: 837px auto,372px auto;
    background-position: 0 0, 0 0;
  }

  .modal__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 270px;
  }

  .modal__close {
    margin-bottom: 0;
  }

  .modal__list {
    margin-bottom: 54px;
  }

  .modal__box {
    margin-bottom: 40px;
  }

  .modal__box-route {
    margin-bottom: 15px;
  }
}
@media all and (max-width: 360px) {
  .container {
    max-width: 320px;
  }

  .title {
    font-size: 24px;
  }

  .text {
    font-size: 14px;
  }

  .top-block {
    padding-top: 110px;
    padding-bottom: 60px;
  }

  .register__partner {
    font-size: 14px;
    margin-bottom: 0;
  }

  .register__title {
    font-size: 34px;
  }

  .register__title::before {
    top: -11px;
    left: 0;
  }

  .register__title::after {
    top: 40px;
    right: 31px;
  }

  .register__text {
    font-size: 14px;
    margin: 0 auto 15px;
  }

  .register__button-services {
    display: inline;
  }

  .company {
    margin-bottom: 60px;
  }

  .company__block {
    max-width: 278px;
  }

  .company__svg {
    max-width: 172px;
    min-height: 64px;
  }

  .patent {
    margin-bottom: 60px;
  }

  .patent__title {
    margin-bottom: 35px;
  }

  .license__title {
    margin-bottom: 35px;
  }

  .license__inner {
    row-gap: 15px;
  }

  .license__text {
    max-width: 290px;
  }

  .test {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(../../home/image/test__photo-mobile.png), url(../image/test__bg.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 115px auto, 2350px auto;
    background-position: 97% -1%, 0 0;
  }

  .test__subtitle {
    max-width: 288px;
  }

  .test__form {
    grid-template-rows: 10% 14% 20% 15% 10% 14%;
  }

  .swiper-button-prev {
    bottom: 8%;
  }

  .swiper-button-next {
    bottom: 4%;
  }

  .under-block {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .work__block {
    max-width: 150px;
  }

  .work__block::after {
    top: 20px;
    right: 0;
  }

  .work__number {
    font-size: 40px;
    line-height: 49px;
  }

  .work__description {
    font-size: 14px;
  }

  .work__wrapper-ladder {
    margin-bottom: 55px;
  }

  .work__container {
    margin-bottom: 35px;
  }

  .work__item,
  .subtext {
    font-size: 14px;
  }

  .work__inner-buttons-semimobile {
    margin: 0 auto 65px;
  }

  .question__title {
    margin-bottom: 35px;
  }

  .accordion__button {
    font-size: 14px;
  }

  .request {
    padding-top: 40px;
    padding-bottom: 25px;
  }

  .request__title {
    margin-bottom: 10px;
  }

  .request__text {
    margin-bottom: 10px;
  }

  .basement {
    padding-top: 40px;
    padding-bottom: 25px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(27, 27, 27, 0.9)), to(rgba(27, 27, 27, 0.9))), url(../../images/basement__bg-mobile.png);
    background-image: linear-gradient(to top, rgba(27, 27, 27, 0.9), rgba(27, 27, 27, 0.9)), url(../../images/basement__bg-mobile.png);
    background-size: 1920px auto, 360px auto;
  }

  .basement__wrapper-top {
    padding-bottom: 35px;
    margin-bottom: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .basement__inner {
    margin-bottom: 15px;
  }

  .basement-icon {
    display: none;
  }

  .basement-icon-mobile {
    display: inline;
  }

  .basement__description {
    max-width: 290px;
  }

  .basement__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .basement__address {
    margin-bottom: 5px;
  }

  .basement__wrapper-middle {
    margin-bottom: 25px;
  }

  .basement__nav {
    grid-template-columns: 35% 16% 48%;
    grid-template-rows: 59% 29%;
    grid-row-gap: 30px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .basement__span {
    display: none;
  }

  .basement__title {
    font-size: 16px;
  }

  .basement__link {
    font-size: 14px;
  }

  .basement__item-facebook {
    margin-right: 62px;
  }

  .modal-application__container {
    max-height: 710px;
  }

  .modal-application__wrapper {
    max-width: 320px;
  }

  .modal__container {
    max-width: 322px;
    left: 11%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(27, 27, 27, 0.9)), to(rgba(27, 27, 27, 0.9))), url(../../images/modal__bg-mobile.png);
    background-image: linear-gradient(to top, rgba(27, 27, 27, 0.9), rgba(27, 27, 27, 0.9)), url(../../images/modal__bg-mobile.png);
    background-size: 837px auto,345px auto;
    background-position: 0 0, 0 0;
  }

  .modal__list {
    margin-bottom: 32px;
  }

  .modal__link {
    font-size: 22px;
  }

  .modal__box {
    margin-bottom: 30px;
  }

  .modal__list-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 206px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .modal__item-facebook {
    margin: 0;
  }

  .modal__box-route {
    display: none;
  }

  .modal__box-info {
    margin: 0;
  }
}

/*# sourceMappingURL=styles.css.map */