$fontMontserratRegular:'Montserrat Regular',sans-serif;
$fontMontserratMedium:'Montserrat Medium',sans-serif;
$fontSTIXTwoTextRegular:'STIX Two Text Regular',sans-serif;
$fontSTIXTwoTextMedium:'STIX Two Text Medium',sans-serif;
$fontGilroyExtrabold:'Gilroy Extrabold',sans-serif;